body{
    background: no-repeat url(../asset/img/LogoBack.png);
    width: 100vw;
    overflow : hidden;
}
.logo{
    width:50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%,-50%);
    left: 50%;
    }
.test{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    color: white;
}