img{
    width: 125px;
}
.container{
    top: 2%;
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px 0;
}
.container .card{
    position: relative;
    height: 250px;
    background: #E7ECEF;
    width: 45%;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.container .card .imgbox{
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background-image: url(../../asset/img/noise.png);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    transition: 300ms ease-in-out;
}
.container .card:hover .imgbox{
    height: 150px;
    width: 150px;
    left: -75px;
    top: calc(50% - 75px);
}
.container .card .imgbox img{
    max-width: 100px;
    transition: 300ms ease-in-out;
}
.container .card:hover .imgbox img{
    max-width: 75px;
}
.container .card .imgbox img.on{
    max-width: 100px;
    transition: 300ms ease-in-out;
}
.container .card:hover .imgbox img.on{
    max-width: 75px;
    filter: invert(1);
}
.container .card .content{
    position: absolute;
    right: 10;
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    align-items: center;
}
.container .card .content h1{
    justify-content: end;
    color: #db5a42;
    margin-bottom: 5px;
}
.container .card .content form button{
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 40px;
}
.disable{
    cursor: default;
    color: #a7a7a7;
    border: #a7a7a7 solid 2px;
}
.edit{
    cursor: pointer;
    color: #db5a42;
    border: #db5a42 solid 2px;
}
.enable{
    cursor: pointer;
    color: #4790FD;
    border: #4790FD solid 2px;
}
ion-icon{
    filter: invert(1);
    font-size: 25px;
    transition: 200ms;
}
.modal-btn-add:hover ion-icon{
    filter: invert(0);
}
.modal-btn-add{
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 15px;
    margin: 25px; 
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20%;
    border-top: 1px rgba(255, 255, 255, 0.5) solid;
    border-left: 1px rgba(255, 255, 255, 0.5) solid;
    border-bottom: transparent;
    border-right: transparent;  
    overflow: hidden;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    background-image: url(../../asset/img/noise2.png);
}
.modal-btn-add:active{
    border-bottom: transparent;
    border-right: transparent; 
}
/* https://coolors.co/202735-4790fd-e7ecef-817f75-23967f